#bitrix-vm files
bitrix/.settings.php
bitrix/php_interface/dbconn.php
local/in.php
bitrix/catalog_export/*
bitrix/license_key.php
bitrix/backup
bitrix/wizards
bitrix/images
*/install

#cache files
bitrix/cache
bitrix/managed_cache
bitrix/stack_cache
bitrix/tmp
bitrix/html_pages

#upload
upload

#logs
local/logs
*.log

#ide
.vscode
.DStore
.history
.DS_Store
Thumbs.db
nbproject

.htaccess
.secure
robots.txt
*sitemap*.xml


# other files
*.log
*.tar
*.gz
*.sql
test.php
*.zip
*.gzip
*.tgz
*.gz.[0-9]
*.mp3
*.mp4
*.exe
*.db
*.csv
*.xml
*.psd
*.[oa]
*.pdf
*~

#gitlab files
.gitlab-ci.yml


#other bad files 
phpinfo.php

google*.html
yandex*.html

local/scripts/galleries

#other bad folders
/img
/images
/icons_catalog

#statistic
awstat/

